<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @super_admin.Name %>
</p>

<p>
  <strong>Password:</strong>
  <%= @super_admin.Password %>
</p>

<p>
  <strong>Email:</strong>
  <%= @super_admin.Email %>
</p>

<%= link_to 'Edit', edit_super_admin_path(@super_admin) %> |
<%= link_to 'Back', super_admins_path %>
