<%= form_with(model: admin, local: true) do |form| %>
  <% if admin.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(admin.errors.count, "error") %> prohibited this admin from being saved:</h2>

      <ul>
      <% admin.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :Email %>
    <%= form.text_field :Email, id: :admin_Email %>
  </div>

  <div class="field">
    <%= form.label :Name %>
    <%= form.text_field :Name, id: :admin_Name %>
  </div>

  <div class="field">
    <%= form.label :Password %>
    <%= form.text_field :Password, id: :admin_Password %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
