<p id="notice"><%= notice %></p>

<p>
  <strong>Username:</strong>
  <%= @customer.Username %>
</p>

<p>
  <strong>Email:</strong>
  <%= @customer.Email %>
</p>

<p>
  <strong>No of cars rented:</strong>
  <%= @customer.No_Of_Cars_Rented %>
</p>

<p>
  <strong>Rental charge:</strong>
  <%= @customer.Rental_Charge %>
</p>

  <div align="center">
  <%= link_to 'Edit', edit_customer_path(@customer) %>
  <br><br>
  <%= link_to 'Search for a car', cars_path %>
  <br><br><%= link_to 'View checkout history', reservations_path%>
  <br><br><%= link_to 'Suggest a car', new_car_path %>
  <% if @customer.role == "admin" %>
      <%= link_to 'Back', customers_path %>
  <% end %>
  </div>
